* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* =====HEADER===== */
.bg-header {
  background-color: #0056a3;
}

@media (min-width: 1024px) {
  .bg-header .container {
    display: flex;
    justify-content: space-between;
  }
}

/* =====NAVBAR===== */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-item:hover {
  padding-left: 5px;
  background-color: #0056a3;
  a {
    color: white;
  }
}

/* =====SHOWNEWS===== */
.shownew-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.shownew-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.shownew-card img {
  height: 200px;
  object-fit: cover;
}

.filter-btn.active {
  background-color: #0d6efd;
  color: white;
}

.shownew-card .card-body a {
  text-decoration: none;
  color: black;
}

.shownew-card .card-body a:hover {
  color: #0056a3;
}
